In [39]:
import pandas as pd
df = pd.read_csv("olympics.csv",index_col=0,skiprows=1)
df.index
df.columns

for column in df.columns:
    if column[0:2] == '01':
        df.rename(columns={column:"Gold"+ column[2:] },inplace=True)
    if column[:2] == "02":
        df.rename(columns={column:"Silver"+column[2:]},inplace=True)
    if column[:2] == "03":
        df.rename(columns={column:"Bronze"+column[2:]},inplace=True)
    if column[:1] == "№":
        df.rename(columns={column:"#" + column[1:]},inplace=True)
    
        
name = df.index.str.split()
df.index = name.str[0]
df["Id"] = name.str[1].str[:3]
df.drop("Totals" , axis = 0,inplace=True)
df

,# Summer,Gold !,Silver !,Bronze !,Total,# Winter,Gold !.1,Silver !.1,Bronze !.1,Total.1,# Games,Gold !.2,Silver !.2,Bronze !.2,Combined total,Id
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,(AF
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,(AL
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,(AR
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,(AR
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,(AN
Australia,25,139,152,177,468,18,5,3,4,12,43,144,155,181,480,(AU
Austria,26,18,33,35,86,22,59,78,81,218,48,77,111,116,304,(AU
Azerbaijan,5,6,5,15,26,5,0,0,0,0,10,6,5,15,26,(AZ
Bahamas,15,5,2,5,12,0,0,0,0,0,15,5,2,5,12,(BA
Bahrain,8,0,0,1,1,0,0,0,0,0,8,0,0,1,1,(BR
Barbados,11,0,0,1,1,0,0,0,0,0,11,0,0,1,1,(BA
Belarus,5,12,24,39,75,6,6,4,5,15,11,18,28,44,90,(BL
Belgium,25,37,52,53,142,20,1,1,3,5,45,38,53,56,147,(BE
Bermuda,17,0,0,1,1,7,0,0,0,0,24,0,0,1,1,(BE
Bohemia,3,0,1,3,4,0,0,0,0,0,3,0,1,3,4,(BO
Botswana,9,0,1,0,1,0,0,0,0,0,9,0,1,0,1,(BO
Brazil,21,23,30,55,108,7,0,0,0,0,28,23,30,55,108,(BR
British,1,0,0,2,2,0,0,0,0,0,1,0,0,2,2,Wes
Bulgaria,19,51,85,78,214,19,1,2,3,6,38,52,87,81,220,(BU
Burundi,5,1,0,0,1,0,0,0,0,0,5,1,0,0,1,(BD
Cameroon,13,3,1,1,5,1,0,0,0,0,14,3,1,1,5,(CM
Canada,25,59,99,121,279,22,62,56,52,170,47,121,155,173,449,(CA
Chile,22,2,7,4,13,16,0,0,0,0,38,2,7,4,13,(CH
China,9,201,146,126,473,10,12,22,19,53,19,213,168,145,526,(CH
Colombia,18,2,6,11,19,1,0,0,0,0,19,2,6,11,19,(CO
Costa,14,1,1,2,4,6,0,0,0,0,20,1,1,2,4,Ric
Ivory,12,0,1,0,1,0,0,0,0,0,12,0,1,0,1,Coa
Croatia,6,6,7,10,23,7,4,6,1,11,13,10,13,11,34,(CR
Cuba,19,72,67,70,209,0,0,0,0,0,19,72,67,70,209,(CU
Cyprus,9,0,1,0,1,10,0,0,0,0,19,0,1,0,1,(CY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Spain,22,37,59,35,131,19,1,0,1,2,41,38,59,36,133,(ES
Sri,16,0,2,0,2,0,0,0,0,0,16,0,2,0,2,Lan
Sudan,11,0,1,0,1,0,0,0,0,0,11,0,1,0,1,(SU
Suriname,11,1,0,1,2,0,0,0,0,0,11,1,0,1,2,(SU
Sweden,26,143,164,176,483,22,50,40,54,144,48,193,204,230,627,(SW
Switzerland,27,47,73,65,185,22,50,40,48,138,49,97,113,113,323,(SU
Syria,12,1,1,1,3,0,0,0,0,0,12,1,1,1,3,(SY
Chinese,13,2,7,12,21,11,0,0,0,0,24,2,7,12,21,Tai
Tajikistan,5,0,1,2,3,4,0,0,0,0,9,0,1,2,3,(TJ
Tanzania,12,0,2,0,2,0,0,0,0,0,12,0,2,0,2,(TA
Thailand,15,7,6,11,24,3,0,0,0,0,18,7,6,11,24,(TH
Togo,9,0,0,1,1,1,0,0,0,0,10,0,0,1,1,(TO
Tonga,8,0,1,0,1,1,0,0,0,0,9,0,1,0,1,(TG
Trinidad,16,2,5,11,18,3,0,0,0,0,19,2,5,11,18,and
Tunisia,13,3,3,4,10,0,0,0,0,0,13,3,3,4,10,(TU
Turkey,21,39,25,24,88,16,0,0,0,0,37,39,25,24,88,(TU
Uganda,14,2,3,2,7,0,0,0,0,0,14,2,3,2,7,(UG
Ukraine,5,33,27,55,115,6,2,1,4,7,11,35,28,59,122,(UK
United,8,1,0,0,1,0,0,0,0,0,8,1,0,0,1,Ara
United,26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681,Sta
Uruguay,20,2,2,6,10,1,0,0,0,0,21,2,2,6,10,(UR
Uzbekistan,5,5,5,10,20,6,1,0,0,1,11,6,5,10,21,(UZ
Venezuela,17,2,2,8,12,4,0,0,0,0,21,2,2,8,12,(VE
Vietnam,14,0,2,0,2,0,0,0,0,0,14,0,2,0,2,(VI
Virgin,11,0,1,0,1,7,0,0,0,0,18,0,1,0,1,Isl
Yugoslavia,16,26,29,28,83,14,0,3,1,4,30,26,32,29,87,(YU
Independent,1,0,1,2,3,0,0,0,0,0,1,0,1,2,3,Oly
Zambia,12,0,1,1,2,0,0,0,0,0,12,0,1,1,2,(ZA
Zimbabwe,12,3,4,1,8,1,0,0,0,0,13,3,4,1,8,(ZI
Mixed,3,8,5,4,17,0,0,0,0,0,3,8,5,4,17,tea

In [48]:
def answer_one():
    
    return df.loc[["Afghanistan"],:]

answer_one()

,# Summer,Gold !,Silver !,Bronze !,Total,# Winter,Gold !.1,Silver !.1,Bronze !.1,Total.1,# Games,Gold !.2,Silver !.2,Bronze !.2,Combined total,Id
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,(AF